<main class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
      <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePlayers">
        <span>Players</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerPlayer">
        <span class="selected">Register</span>
      </a>
    </li>
  </ol>

  <div class="pageWrapper">
    <h1 class="formTitle">Register</h1>
    <p class="text-muted">Create a player</p>
    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="material-icons">person</i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Player Name" formControlName="playerName">
      </div>
      <button type="submit" class="btn btn-block btn-success" [disabled]="!form.valid">Submit</button>
    </form>

  </div>


</main>
