<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home</span>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePlayers">
        <span class="selected">Players</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerPlayer">
        <span>Register</span>
      </a>
    </li>
  </ol>

  <div class="pageWrapper">
    <h1 class="tableTitle">Registed Players</h1>
    <div class="tableWrapper">
      <div class="tableHeader">
        <p>Players</p>
      </div>
      <div class="tableContent">
        <div class="tableData" *ngFor="let player of players">
          <p>{{player.name}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
