<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePlayers">
        <span class="selected">Players</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerPlayer">
        <span>Register</span>
      </a>
    </li>
  </ol>

  <div class="pageWrapper">
    <h1 class="tableTitle">Registed Players</h1>
    <div class="tableWrapper">
      <div class="searchWrapper">
        <i class="material-icons">search</i>
        <input class="searchField" type="text" [(ngModel)]="searchText" placeholder="Search on player ...">
      </div>
      <div class="tableHeader">
        <p (click)="setSortType('name')">
          Players
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('name', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('name', false)">keyboard_arrow_down</i>
        </p>
      </div>
      <div class="tableContent">
        <div class="tableData" *ngFor="let player of (players | playerFilter: searchText | playerSort:sortType:sortReverse)"
             (click)="setSelectedPlayer(player)"
             [ngClass]="{'selected-row': selectedPlayer === player}">
          <p>{{player.name}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
