<header class="appHeader">
  <h1>Boostr.IO</h1>
</header>

<div class="appWrapper">
  <div class="appNavWrapper">
    <a>
      <i class="material-icons">home</i>
      Home
    </a>
    <a routerLink="/availablePlayers">
      <i class="material-icons">person</i>
      Players
    </a>
    <a routerLink="/availableTeams">
      <i class="material-icons">vibration</i>
      Teams
    </a>
    <a routerLink="/availableRealms">
      <i class="material-icons">language</i>
      Realms
    </a>
    <a routerLink="/availableIncomes">
      <i class="material-icons">euro_symbol</i>
      Incomes
    </a>
    <a routerLink="/availablePayments">
      <i class="material-icons">credit_card</i>
      Payments
    </a>
    <a routerLink="/availableGold">
      <i class="material-icons">trending_up</i>
      Gold
    </a>
    <a routerLink="/split">
      <i class="material-icons">insert_chart</i>
      Split
    </a>
  </div>
  <div class="appContentWrapper">
    <router-outlet></router-outlet>
  </div>
</div>


