<div class="header">
  <h1>Boostr.IO</h1>
</div>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <mat-nav-list>
      <mat-list-item>
        <div class="nav-item-dink">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </div>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/availablePlayers">
        <div class="nav-item-dink">
          <mat-icon>person</mat-icon>
          <span>Players</span>
        </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/availableTeams">
          <div class="nav-item-dink">
            <mat-icon>vibration</mat-icon>
            <span>Teams</span>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/availableRealms">
          <div class="nav-item-dink">
            <mat-icon>language</mat-icon>
            <span>Realms</span>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/availableIncomes">
          <div class="nav-item-dink">
            <mat-icon>euro_symbol</mat-icon>
            <span>Incomes</span>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/availablePayments">
          <div class="nav-item-dink">
            <mat-icon>credit_card</mat-icon>
            <span>Payments</span>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/availableGold">
          <div class="nav-item-dink">
            <mat-icon>trending_up</mat-icon>
            <span>Gold</span>
          </div>
        </a>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/split">
          <div class="nav-item-dink">
            <mat-icon>insert_chart</mat-icon>
            <span>Split</span>
          </div>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


