.example-container {
  height: calc(100% - 40px);
  position: fixed;
  bottom: 0;
  padding:0;
}

.header {

  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  top: 0;
  height: 40px;
  border-bottom: 1px solid #a4b7c1;

  h1 {
    text-align: center;
    margin: 0px;
    height: 40px;
    min-width: 61px;
    max-width:133px;
  }

  .header-button {
    min-width: 50px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    margin-left: 10px;
  }

}

mat-sidenav-content {
  position: relative;
}

mat-sidenav {

  background: #29363d;
  color: #fff;
  display: flex;

  .nav-item-dink {
    display: flex;
    align-items: center;
  }

  mat-icon {
    padding-right: 5px;
    color: white;
    cursor: pointer;
  }

  span {
    color: white;
    custor: pointer;
  }
}

.collapseArrow {
  bottom: 0;
  position: fixed;
  cursor: pointer;
}


