@import "~sass/variables";

.appHeader {
  box-sizing: border-box;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;

}

.appWrapper {
  display: flex;
  margin-top: 65px;
  height: calc(100vh - 65px);

  .appNavWrapper {
    box-sizing: border-box;
    padding: 20px;
    height: calc(100vh - 65px);

    background-color: #29363d;
    a {
      color: white;
      display: flex;
      align-items: center;

      & + a {
        margin-top: 20px;
      }
      i {
        margin-right: 5px;
      }
    }
  }

  .appContentWrapper {
    height: calc(100vh - 65px);
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@media (min-width: 768px) {

}

