<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePayments">
        <span class="selected">Payments</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerPayment">
        <span>Register</span>
      </a>
    </li>
  </ol>
  <div class="pageWrapper">
    <h1 class="tableTitle">Registered Payments</h1>
    <div class="tableWrapper">
      <div class="searchWrapper">
        <i class="material-icons">search</i>
        <input class="searchField" type="text" [(ngModel)]="searchText" placeholder="Search on player ...">
      </div>
      <div class="tableHeader">
        <p (click)="setSortType('player')">
          Player
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('player', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('player', false)">keyboard_arrow_down</i>
        </p>
        <p (click)="setSortType('price')">
          Price
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('price', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('price', false)">keyboard_arrow_down</i>
        </p>
        <p (click)="setSortType('realm')">
          Realm
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('realm', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('realm', false)">keyboard_arrow_down</i>
        </p>
      </div>
      <div class="tableContent">
        <div class="tableData" *ngFor="let payment of (payments |  paymentFilter: searchText | paymentSort:sortType:sortReverse)"
             (click)="setSelectedPayment(payment)"
             [ngClass]="{'selected-row': selectedPayment === payment}">
          <p>{{payment.player.name}}</p>
          <p>{{payment.price}} K</p>
          <p>{{payment.realm.name}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
