<main class="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home</span>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePayments">
        <span class="selected">Payments</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerPayment">
        <span>Register</span>
      </a>
    </li>
  </ol>

  <div class="card">
    <div class="card-body">
      <h1>Registered Payments</h1>
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Price</th>
          <th>Player</th>
          <th>Realm</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let payement of payments">
          <td class="text-center">
            <div>{{payement.id}}</div>
          </td>
          <td class="text-center">
            <div>{{payement.price}} K</div>
          </td>
          <td class="text-center">
            <div>{{payement.player}}</div>
          </td>
          <td class="text-center">
            <div>{{payement.realm}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>
