<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span class="selected">Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePlayers">
        <span>Players</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableTeams">
        <span>Teams</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableRealms">
        <span>Realms</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableIncomes">
        <span>Incomes</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availablePayments">
        <span>Payments</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableGold">
        <span>Gold</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/split">
        <span>Split</span>
      </a>
    </li>
  </ol>
</div>
