<h2>Realm Registration</h2>
<form name="form" (ngSubmit)="register()">
  <div class="form-group">
    <label for="realmName">Name</label>
    <input id="realmName" type="text" required [(ngModel)]="model.name" name="realName"/>
  </div>
  <div class="form-group">
    <label for="regionName">Region</label>
    <select class="form-control" id="regionName" required [(ngModel)]="model.region" name="region">
      <option>English</option>
      <option>German</option>
      <option>Russian</option>
      <option>French</option>
    </select>
  </div>
  <div class="form-group">
    <label for="playerName">Player</label>
    <select class="form-control" id="playerName" [(ngModel)]="model.player" name="player">
      <option *ngFor="let player of players" value={{player.name}}>
        {{player.name}}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-success">Submit</button>
</form>

