<div class="pageOuterWrapper">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home</span>
    </li>
    <li class="breadcrumb-item">
      <span class="selected">Splits</span>
    </li>
  </ol>
  <div *ngIf="splits">
    <div class="pageWrapper">
      <h1 class="tableTitle">Splits</h1>
      <div class="tableWrapper">
        <div class="tableHeader">
          <p>Payer Name</p>
          <p>Debt</p>
          <p>Total Gold Earned</p>
          <p>Runs Done</p>
        </div>
        <div class="tableContent">
          <div class="tableData" *ngFor="let split of splits">
            <p>{{split.playerName}}</p>
            <p>{{split.debt}} K</p>
            <p>{{split.totalGoldEarned}} K</p>
            <p>{{split.amountOfRuns}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

