<div class="pageOuterWrapper">

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <span class="selected">Splits</span>
    </li>
  </ol>
  <div *ngIf="splits">
    <div class="pageWrapper">
      <h1 class="tableTitle">Splits</h1>
      <div class="tableWrapper">
        <div class="searchWrapper">
          <i class="material-icons">search</i>
          <input class="searchField" type="text" [(ngModel)]="searchText" placeholder="Search on player ...">
        </div>
        <div class="tableHeader">
          <p (click)="setSortType('player')">
            Payer Name
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('name', true)">keyboard_arrow_up</i>
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('name', false)">keyboard_arrow_down</i>
          </p>
          <p (click)="setSortType('debt')">
            Debt
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('debt', true)">keyboard_arrow_up</i>
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('debt', false)">keyboard_arrow_down</i>
          </p>
          <p (click)="setSortType('amountOfRuns')">
            Runs Done
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('runs', true)">keyboard_arrow_up</i>
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('runs', false)">keyboard_arrow_down</i>
          </p>
        </div>
        <div class="tableContent">
          <div class="tableData" *ngFor="let split of (splits| splitFilter: searchText | splitSort:sortType:sortReverse)"
               (click)="setSelectedSplit(split)"
               [ngClass]="{'selected-row': selectedSplit === split}">
            <p>{{split.player.name}}</p>
            <p>{{split.debt}} K</p>
            <p>{{split.amountOfRuns}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

