<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home</span>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableRealms">
        <span class="selected">Realms</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerRealms">
        <span>Register</span>
      </a>
    </li>
  </ol>
  <div class="pageWrapper">
    <h1 class="tableTitle">Registered Realms</h1>
    <div class="tableWrapper">
      <div class="tableHeader">
        <p>Realm Name</p>
        <p>Region</p>
        <p>Player</p>
      </div>
      <div class="tableContent">
        <div class="tableData" *ngFor="let realm of realms">
          <p>{{realm.name}}</p>
          <p>{{realm.region}}</p>
          <p>{{realm.player}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

