<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableIncomes">
        <span class="selected">Incomes</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerIncome">
        <span>Register</span>
      </a>
    </li>
  </ol>
  <div class="pageWrapper">
    <h1 class="tableTitle">Registed Incomes</h1>
    <div class="tableWrapper">
      <div class="searchWrapper">
        <i class="material-icons">search</i>
        <input class="searchField" type="text" [(ngModel)]="searchText" placeholder="Search on team ...">
      </div>
      <div class="tableHeader">
        <p (click)="setSortType('team')">
          Team
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('team', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('team', false)">keyboard_arrow_down</i>
        </p>
        <p (click)="setSortType('price')">
          Price
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('price', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('price', false)">keyboard_arrow_down</i>
        </p>
        <p (click)="setSortType('date')">
          Date
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('date', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('date', false)">keyboard_arrow_down</i>
        </p>
        <p (click)="setSortType('dungeon')">
          Dungeon
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('dungeon', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('dungeon', false)">keyboard_arrow_down</i>
        </p>
        <p (click)="setSortType('realm')">
          Realm
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('realm', true)">keyboard_arrow_up</i>
          <i class="material-icons" *ngIf="shouldDisplaySortIcon('realm', false)">keyboard_arrow_down</i>
        </p>
      </div>
      <div class="tableContent">
        <div class="tableData" *ngFor="let income of (incomes | incomesFilter: searchText | incomeSort:sortType:sortReverse)">
          <p>{{income.team}}</p>
          <p>{{income.price}} K</p>
          <p>{{income.date | date:'MM/dd/yyyy'}}</p>
          <p>{{income.dungeon}}</p>
          <p>{{income.realm}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
