<main class="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home</span>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableTeams">
        <span class="selected">Teams</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerTeam">
        <span>Register</span>
      </a>
    </li>
  </ol>
<ul class="teams">
  <li *ngFor="let team of teams">
    <a routerLink="/team/{{team.name}}">
      <label>{{team.name}}</label>
    </a>
  </li>
</ul>
</main>
