<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableTeams">
        <span class="selected">Teams</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerTeam">
        <span>Register</span>
      </a>
    </li>
  </ol>
  <div class="pageWrapper">
    <h1 class="tableTitle">Registed Teams</h1>
    <div class="tableWrapper">
      <div class="tableHeader">
        <p>Team Name</p>
        <p>Member One</p>
        <p>Member Two</p>
        <p>Member Three</p>
        <p>Member Four</p>
      </div>
      <div class="tableContent">
        <div class="tableData" *ngFor="let team of teams">
          <p>{{team.name}}</p>
          <p>{{team.memberOne}}</p>
          <p>{{team.memberTwo}}</p>
          <p>{{team.memberThree}}</p>
          <p>{{team.memberFour}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
