<main class="main">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <span>Home</span>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/availableTeams">
        <span class="selected">Teams</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a routerLink="/registerTeam">
        <span>Register</span>
      </a>
    </li>
  </ol>
  <div class="card">
    <div class="card-body">
      <h1>Registed Teams</h1>
      <table class="table table-responsive-sm table-hover table-outline mb-0">
        <thead class="thead-light">
        <tr>
          <th>Team Name</th>
          <th>Member One</th>
          <th>Member Two</th>
          <th>Member Three</th>
          <th>Member Four</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let team of teams">
          <td class="text-center">
              <div>{{team.name}}</div>
          </td>
          <td class="text-center">
            <div>{{team.memberOne}}</div>
          </td>
          <td class="text-center">
            <div>{{team.memberTwo}}</div>
          </td>
          <td class="text-center">
            <div>{{team.memberThree}}</div>
          </td>
          <td class="text-center">
            <div>{{team.memberFour}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
