<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <span class="selected">Gold Per Server</span>
    </li>
  </ol>
  <div *ngIf="availableGold">
    <div class="pageWrapper">
      <h1 class="tableTitle">Gold per Server</h1>
      <div class="tableWrapper">
        <div class="searchWrapper">
          <i class="material-icons">search</i>
          <input class="searchField" type="text" [(ngModel)]="searchText" placeholder="Search on realm ...">
        </div>
        <div class="tableHeader">
          <p (click)="setSortType('realm')">
            Realm
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('realm', true)">keyboard_arrow_up</i>
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('realm', false)">keyboard_arrow_down</i>
          </p>
          <p (click)="setSortType('price')">
            Price
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('price', true)">keyboard_arrow_up</i>
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('price', false)">keyboard_arrow_down</i>
          </p>
          <p (click)="setSortType('player')">
            Player
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('player', true)">keyboard_arrow_up</i>
            <i class="material-icons" *ngIf="shouldDisplaySortIcon('player', false)">keyboard_arrow_down</i>
          </p>
        </div>
        <div class="tableContent">
          <div class="tableData" *ngFor="let goldPerRealm of (availableGold.goldPerRealm | goldPerServerFilter: searchText | goldPerServerSort:sortType:sortReverse)"
               (click)="setSelectedGold(goldPerRealm)"
               [ngClass]="{'selected-row': selectedGold === goldPerRealm}">
            <p>{{goldPerRealm.realm}}</p>
            <p>{{goldPerRealm.gold}} K</p>
            <p>{{goldPerRealm.player}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
