<div class="pageOuterWrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">
        <span>Home</span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <span class="selected">Gold Per Server</span>
    </li>
  </ol>
  <div *ngIf="availableGold">
    <div class="pageWrapper">
      <h1 class="tableTitle">Gold per Server</h1>
      <div class="tableWrapper">
        <div class="searchWrapper">
          <i class="material-icons">search</i>
          <input class="searchField" type="text" [(ngModel)]="searchText" placeholder="Search on realm ...">
        </div>
        <div class="tableHeader">
          <p>Realm</p>
          <p>Price</p>
          <p>Player</p>
        </div>
        <div class="tableContent">
          <div class="tableData" *ngFor="let goldPerRealm of (availableGold.goldPerRealm | goldPerServerFilter: searchText)">
            <p>{{goldPerRealm.realm}}</p>
            <p>{{goldPerRealm.gold}} K</p>
            <p>{{goldPerRealm.player}}</p>
          </div>
        </div>
        <div>
          <span>Total gold: </span>{{availableGold.totalGold}} K
        </div>
      </div>
    </div>
  </div>
</div>
